.centered-content {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use 100% of the viewport height */
    text-align: center; 
}

h1 {
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensures the body takes up the full viewport width */
    height: 100%; /* Helps in some cases to ensure full height */
}

body {
    background-color: #000000;
    color: white; 
    font-family: Arial, sans-serif; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #98FB98;
}

nav ul li a:link {
    color: #FFFF00; /* Yellow */
    text-decoration: none;
}

/* Visited link */
nav ul li a:visited {
    color: #008000; /* Green */
}

/* Hover link */
nav ul li a:hover {
    color: #FFA500; /* Example: Orange color on hover */
}

/* Active link */
nav ul li a:active {
    color: #FF4500; /* Example: Darker orange color when clicked */
}
