<link rel="stylesheet" href="css/style.css">

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 0;
}


body {
    background-color: #333; /* Dark grey background */
    color: white; /* White text */
    font-family: Arial, sans-serif; /* Example font */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


